<navbar>
  <ul>
    <li><a href="index.html"><h4>ABOUT</h4></a></li>
    <li><a href="aws_abide.html"><h4>AMAZON WEB SERVICES: HOW-TO</h4></a></li>
    <li><h3>QUALITY ASSESSMENT</h3>
      <ul>
      <li><a href="quality_assessment.html">in CSV</a></li>
      <li><a href="qa_plot_anat.html">ANATOMICAL</a></li>
      <li><a href="qa_plot_func_spatial.html">FUNCTIONAL (SPATIAL)</a></li>
      <li><a href="qa_plot_func_temporal.html">FUNCIONAL (TEMPORAL)</a></li>
      </ul></li>
    <li><h3>PIPELINES:</h3>
    <ul>
      <li><a href="cpac.html">CPAC</a></li>
      <li><a href="dparsf.html">DPARSF</a></li>
      <li><a href="niak.html">NIAK</a></li>
      <li><a href="ccs.html">CCS</a></li>
    </ul></li>
  </ul>
<hr></hr>
</navbar>
{% include contact.html %}



