<navbar>
  <ul>
    <li><strong>ABOUT:</strong></li>
    <li><a href="/">PREPROCCESSED CONNECTOMES PROJECT</a></li>
    <li><a href="index.html">ABIDE PREPROCESSED</a></li>
    <br>
    <li><a href="aws_abide.html"><h4>AMAZON WEB SERVICES: HOW-TO</h4></a></li>
    <li><a href="quality_assessment.html"><h4>QUALITY ASSESSMENT</h4></a></li>
    <li><strong>PIPELINES:</strong></li>
    <li><a href="cpac.html">CPAC</a></li>
    <li><a href="dparsf.html">DPARSF</a></li>
    <li><a href="niak.html">NIAK</a></li>
    <li><a href="ccs.html">CCS</a></li>
  </ul>
   
</navbar>
