<navbar>
  <ul>
    <li><h4><a href="/">ABOUT PREPROCCESSED CONNECTOMES</h4></a></li>
    <li><h4><a href="/abide/index.html">ABOUT ABIDE PREPROCESSED</h4></a></li>
    <li><a href="/abide/aws_abide.html">AMAZON WEB SERVICES: HOW-TO</a></li>
    <li><a href="/abide/quality_assessment.html">QUALITY ASSESSMENT</a></li>
    <li><h4>PIPELINES</h4></li>
    <li><a href="/abide/Pipelines/cpac.html">CPAC</a></li>
    <li><a href="/abide/Pipelines/dparsf.html">DPARSF</a></li>
    <li><a href="/abide/Pipelines/niak.html">NIAK</a></li>
    <li><a href="/abide/Pipelines/ccs.html">CCS</a></li>
  </ul>
   
</navbar>
